/* white: "#F2F2F2",
  gray: "#D8D8D8",
  black: "#353535",
  green: "#6B8F71",
  blue: "#7798AB",*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
margin: 0;
padding: 0;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  position: top;
  padding: 0;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica, san-serif;
  align: left;
  font-weight: 200;
}

.about {}

.download {}

.faq {}

.privacy {}

.navbar img {
  width: 15%;
  height: 15%;
  padding: 10px;
  float: right;
  position: bottom;
}

.navbar li {
}

.navbar a {
  display: block;
  padding: 1.2vw;
  text-decoration: none;
  color: #7798AB;
  font-size: 1em;
  float: left;
  font-family: "century gothic", helvetica, arial, sans-serif;
}

.navbar a:hover {
  background-color: #6B8F71;
  color: white;
}

/* Main Grid Setup*/
main {
  margin-top: 5%;

}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: 100vh 1fr 1fr 1fr 1fr;
}

.wrapper>div {
  padding: 1em;
  align-items: center;
}


.box {
  grid-template: 1fr;
  align-self: center;
  justify-self: center;
  align-items: center;
  padding: 30px 20%;
  margin: 150px 0;
}

/* Styling */

button {
  border-radius: 8px;
  font-family: "century gothic", helvetica, arial, sans-serif;
  font-size: .8em;
  background-color: #6B8F71;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  margin-left: 45vw;
  margin-right: 45vw;
  width: 10vw;

}

button:hover {
  background-color: #F2F2F2;
  color: #6B8F71;
}

big {
  font-size: 1.5em;
}

small {
  font-size: .7em;
}

strong {
  font-weight: bold;
  text-align: right;
  font-size: 1.2em;
}

h1 {
  font-family: "century gothic", helvetica, arial, sans-serif;
  -webkit-text-stroke: 1.5px black;
  text-stroke: 1.5px black;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  line-height: 1em;
  font-size: 2.5em;
  text-align: left;
  padding: 0 20%;
}

h2 {
  font-family: "century gothic", helvetica, arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  text-align:right;
    padding: 0 20%;
}

p {
  font-family: Helvetica, san-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 2;
  padding: 5% 20%;
  text-align:justify;
}
