/* white: "#F2F2F2",
  gray: "#D8D8D8",
  black: "#353535",
  green: "#6B8F71",
  blue: "#7798AB",*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  position: top;
  padding: 0;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica, san-serif;
  align: left;
  font-weight: 200;
}

.about {}

.download {}

.faq {}

.privacy {}

.navbar img {
  width: 30px;
  height: auto;
  float: left;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px 0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #7798AB;
  font-size: .8em;
  font-family: "century gothic";
}

.navbar a:hover {
  background-color: #6B8F71;
  height: auto;
  font-weight: bold;
  color: white;
}

/* Main */

.main {
  display: grid;
  margin: 0;
}

big {
  font-size: 3em;
}
h1 {
  font-family: "century gothic";
  -webkit-text-stroke: 1px #353535;
  text-stroke: 1px #353535;
  -webkit-text-fill-color: white;
  font-size: 2.5em;
}

h2 {
  font-family: "century gothic";
  font-color: #353535;
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-family: Helvetica, san-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5;
  padding: 5px 20px;
  width: minmax(50%, 75%);
}

/* BOXES */

.box {
height: 100vh;
align-content: center;
text-align: center;
padding-top: 10%;
}

.a {
background-color: blue;
}

.b {
  background-color: red;

}

.box 3 {

}

.box 4 {

}
