/* white: "#F2F2F2",
  gray: "#D8D8D8",
  black: "#353535",
  green: "#6B8F71",
  blue: "#7798AB",*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

/* Navigation Bar */
.navbar {
  display: grid;
  width: 100%;
  position: top;
  padding: 10px 0;
  background-color: #f8f8f8;
  grid-template-rows: 1fr, 3fr, 3fr, 3fr, 3fr;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica, san-serif;
  align: left;
  font-weight: 200;
}

.about {
  grid-column: 2 / 3;
}

.download {
  grid-column: 3 / 4;
}

.faq {}

.privacy {}

.navbar img {
  width: 30px;
  height: auto;
  float: left;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px 0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #7798AB;
}

.navbar a:hover {
  background-color: #6B8F71;
}

/* Main */

.main {
  display: grid;
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

h1 {
  font-family: "century gothic";
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

h2 {
  font-family: "century gothic";
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  font-size: 1.5em;
}

p {
  font-family: Helvetica, san-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5;
  padding: 5px 20px;
}

/* BOXES */
