/* white: "#F2F2F2",
  gray: "#D8D8D8",
  black: "#353535",
  green: "#6B8F71",
  blue: "#7798AB",*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
  display: grid;
  padding: 0;
  margin: 0;
}

/* Navigation Bar */
.navbar {
  width: 100%;
  position: top;
  padding: 0;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica, san-serif;
  align: left;
  font-weight: 200;
}

.about {}

.download {}

.faq {}

.privacy {}

.navbar img {
  width: 30px;
  height: auto;
  float: left;
  padding: 10px 0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  padding: 2vw;
  text-decoration: none;
  color: #7798AB;
  font-size: .8em;
  font-family: "century gothic", helvetica, arial, sans-serif;
}

.navbar a:hover {
  background-color: #6B8F71;
  color: white;
}

/* Main */
.main {
  margin: 0;
  text-align: center;
}

button {
  border-radius: 8px;
  font-family: "century gothic", helvetica, arial, sans-serif;
  font-size: .8vw;
  background-color: #6B8F71;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #F2F2F2;
  color: #6B8F71;
}

big {
  font-size: 5vw;
}

small {
  font-size: 1.2vw;
}

strong {
  font-weight: bold;
  text-align: right;
  font-size: 1.2vw;
}

h1 {
  font-family: "century gothic", helvetica, arial, sans-serif;
  -webkit-text-stroke: 1.5px black;
  text-stroke: 1.5px black;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  line-height: 1em;
  font-size: 2.3vw;
}

h2 {
  font-family: "century gothic", helvetica, arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 1.5vw;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: Helvetica, san-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 2;
  padding: 5px 20%;
}

center {
  text-align: center;
}

/* BOXES */
.box {
  margin: 20%;
  height: 100vh;
}

/*@media screen and (max-width: 600px) {
  p {
    font-size: 3vw;
  }
  button {
    font-size: 3vw;
  }
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 4.20vw;
    pading-bottom: 10%;
  }
  strong {
    font-weight: bold;
    font-size: 3.2vw;
  }
  big {
    font-size: 12vw;
    padding: 10%;
    padding-top: 40%;
  }
  .box {
    margin: 2vw;
    margin-top: 10vh;
    height: 100vh;
    margin-bottom: 10vh;

  }
  .navbar {
    height: 5vh;
  }
  .navbar a {
    font-size: 2vw;
  }
  #a {
    height: 100vh;
  }
} */
